*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #2CB3F3;

}

.caixa{
    text-align: center;
    margin-top: 40px;
    

}



.corpo{
    background-color: aliceblue;

    width: 600px;
    height: 415px;
    position: relative;
    left: 365px;
bottom: 25px;
border-radius: 70px 70px 0px 0px;
margin-top: 2vh;
}

.rosto{
    background: #FFE1C9;
width: 450px;
height: 300px;
position: absolute;
top: 65px;
left: 75px;
border-radius: 50%;
}

.olho-esquerdo{
    background-color: black;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 130px;
    left:200px;
    border-radius: 20px;
}

.olho-direito{
    background-color: black;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 130px;
    right:200px;
    border-radius: 20px;
}

input{
    border: 2px solid #000000;
    width: 225px;
     height: 40px;
    position:relative;
    top: 100px;
    right: 178px;
    padding: 15% ;
    border-radius: 5px;

    
}

button{
    background: #55A603;
width: 115px;
height:40px;
position: relative;
top: 465px;
color: white;
right: 9px;
border-radius: 5px;
 }